<section id="definiton">
    <h1 class="title-1">Definiție</h1>
    <p class="text">Compuşii (Acizii) carboxilici sunt derivaţi ai <b>hidrocarburilor</b> care conţin în moleculă una sau mai multe <b>grupări carboxil</b></p>
</section>
<section>
    <h2 class="title-2">Formula generală</h2>
    <div class="formule">
        <div class="formula">
            R-<span class="tree-1" el="O">C</span>-OH
        </div>
        <div>
            <div class="selector">
                <div class="buttons">
                    <button mat-stroked-button [class.primary]="i == 1" (click)="i = 1">H</button>
                    <button mat-stroked-button [class.primary]="i == 2" (click)="i = 2">CH<sub>3</sub></button>
                    <button mat-stroked-button [class.primary]="i == 3" (click)="i = 3">C<sub>3</sub>H<sub>6</sub></button>
                </div>
                <div class="formula blue">
                    <span [innerHTML]="R[i].display"></span>-<span class="tree-1 red-el" el="O">C</span>-OH
                </div>
                <div class="groups">
                    <span class="blue">Grupare Hidroxil</span><br>
                    <span class="red">Grupare Carbonil</span>
                </div>
            </div>
            <p class="text">{{ R[i].name }}</p>
        </div>
    </div>
</section>