body {
    overflow: hidden;
}

.formule {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.selector {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    sub {
        font-size: .6rem;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.groups {
    margin-top: 4rem;
    transform: translateX(-5rem);
}

@media only screen and (min-width: 601px) {
    .groups {
        margin-top: 4rem;
        transform: translateX(-5rem);
    }
}