.list-item {
    font-size: 1rem;
    line-height: normal;
}

.connector {
    width: 40px;
    height: 3px;
    background-color: var(--red-color);
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 25px;
    &::before, &::after {
        content: '';
        width: 5px;
        height: 5px;
        background-color: var(--text-color);
        border-radius: 50%;
        position: absolute;
    }
    &::after {
        right: 0;
    }
}

.dots {
    position: relative;
    margin-right: 1rem;
    transform: translateY(-3px);
}

.negative, .negative-2, .positive, .positive-2 {
    position: relative;
    &::after { 
        content: '+';
        position: absolute;
        color: var(--blue-color);
        font-size: .8rem;
        font-weight: bold;
        right: -.2rem;
        top: -.3rem;
    }
}

.negative-2::after {
    right: 0rem;
}

.negative::after, .negative-2::after {
    content: '-';
}

.positive-2::after {
    top: 0rem;
    right: -.4rem;
    font-size: .6rem;
    content: '2+';
}

.dot {
    width: 3px;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    &:nth-child(1) {
        left: .3rem;
        top: 0;
    }
    &:nth-child(2) {
        right: .3rem;
        top: 0;
    }
    &:nth-child(3) {
        right: -20%;
        top: 1rem;
    }
    &:nth-child(4) {
        right: -20%;
        bottom: 1rem;
    }
    &:nth-child(5) {
        left: .3rem;
        bottom: 0%;
    }
    &:nth-child(6) {
        right: .3rem;
        bottom: 0%;
    }
}

.with-arrow {
    position: relative;
}

.arrow {
    stroke: var(--text-color);
    stroke-width: 3px;
    position: absolute;
    transform: scale(.5) scaleY(1.2);
    top: -3rem;
    left: -5rem;
}

.up-arrow {
    position: absolute;
    font-size: .6rem;
    top: -1.8rem;
    left: 2rem;
    sup {
        font-size: .4rem;
    }
}

.potions {
    display: flex;
    justify-content: left;
    gap: 2rem;
    margin-bottom: 2rem;
}

.potion {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    &__image {
        mask-size: cover;
        -webkit-mask-image: url('/assets/images/potion.svg');
        mask-image: url('/assets/images/potion.svg');
        background-color: var(--purple-color);
        width: 120px; 
        height: 150px; 
        transition: .5s cubic-bezier(0, 0, .2, 1);
        cursor: pointer;
        &:hover {
            background-color: var(--blue-color);
        }
    }
    &__name {
        position: absolute;
        bottom: 10%;
        user-select: none;
        font-size: 1rem;
        font-weight: bold;
        z-index: 1;
        color: #fff;
    }
    &:hover &__image {
        background-color: var(--red-color);
    }
    &:nth-of-type(2) { 
        .potion__image {
            background-color: #f57c00;
            
        }
        &:hover .potion__image {
            background-color: var(--red-color);
        }
    }
}
.names {
    display: flex;
    flex-wrap: nowrap;
}

.alcool-1 {
    margin-left: 4.9rem;
}
.acetat-1 {
    margin-left: 3rem;
}

.alcool-2 {
    margin-left: 3rem;
}

.ester {
    margin-left: 1.5rem;
}

.acetat-2 {
    margin-left: 8.5rem;
}

.carbonat {
    margin-left: 3.4rem;
}

.acetat-3 {
    margin-left: 2.2rem;
}

.sare-1 {
    margin-left: 20.5rem;
}

.sare-2 {
    margin-left: 23.2rem;
}

.sare-3 {
    margin-left: 25rem;
}

.bicarbonat {
    margin-left: 2.7rem;
}

.acetat-4 {
    margin-left: 2.3rem;
}

.anhidra {
    margin-left: 38rem;
}

.l1 {
    margin-top: 1rem;
}

@media only screen and (min-width: 601px) {
    .connector {
        width: 40px;
        height: 3px;
        &::before, &::after {
            width: 8px;
            height: 8px;
        }
    }
    
    .negative, .negative-2, .positive, .positive-2 {
        &::after { 
            font-size: 1.2rem;
            right: -.2rem;
            top: -.3rem;
        }
    }
    
    .positive-2::after {
        top: 0rem;
        right: -.4rem;
        font-size: .9rem;
    }
    
    .dot {
        width: 6px;
        height: 6px;
        &:nth-child(1) {
            left: .6rem;
        }
        &:nth-child(2) {
            right: .6rem;
        }
        &:nth-child(3) {
            top: 1.2rem;
        }
        &:nth-child(4) {
            bottom: 1.2rem;
        }
        &:nth-child(5) {
            left: .6rem;
        }
        &:nth-child(6) {
            right: .6rem;
        }
    }
    
    .arrow {
        top: -1.8rem;
        left: -.2rem;
    }
    
    .up-arrow {
        font-size: 1.2rem;
        top: -3rem;
        left: 4.5rem;
        sup {
            font-size: .8rem;
        }
    }
    
    .potions {
        gap: 2rem;
        margin-bottom: 2rem;
    }
    
    .potion {
        &__image {
            width: 200px; 
            height: 250px; 
        }
        &__name {
            font-size: 1.6rem;
        }
    }
    
    
    .alcool-1 {
        margin-left: 13rem;
    }
    .acetat-1 {
        margin-left: 10rem;
    }
    
    .alcool-2 {
        margin-left: 8rem;
    }
    
    .ester {
        margin-left: 5rem;
    }
    
    .acetat-2 {
        margin-left: 21rem;
    }
    
    .carbonat {
        margin-left: 10.4rem;
    }
    
    .acetat-3 {
        margin-left: 6.5rem;
    }
    
    .sare-1 {
        margin-left: 20.5rem;
    }
    
    .sare-2 {
        margin-left: 23.2rem;
    }
    
    .sare-3 {
        margin-left: 25rem;
    }
    
    .bicarbonat {
        margin-left: 9.5rem;
    }
    
    .acetat-4 {
        margin-left: 6.8rem;
    }
    
    .anhidra {
        margin-left: 38rem;
    }
    
    .l1 {
        margin-top: 1rem;
    }
}