<section>
    <h1 class="title-1" id="t">Proprietăți Chimice</h1>
    <p class="text"><span class="red">Tăria acizilor</span> carboxilici = <span class="red">uşurinţa de a ceda protoni</span> în soluţie apoasă.</p>
    <b class="list-header">Tăria acizilor carboxilici variază astfel:</b>
    <ol>
        <li class="list-item">Odată cu <span class="red">creşterea numărului de atomi</span> de carbon <span class="blue">scade aciditatea</span>;</li>
        <li class="list-item">Odată cu <span class="red">creşterea numărului de grupe carboxil <b>creşte aciditatea</b></span>;</li>
        <li class="list-item">Odată cu <span class="red">creşterea gradului de ramificaţie</span> a catenei acidului <span class="blue">scade aciditatea</span>;</li>
    </ol>
</section>
<section>
    <h3 class="title-3" id="shared"><b>A. </b>Proprietăți comune ale acizilor anorganici</h3>
    <ul>
        <li><p class="list-header">Aciditate</p></li>
        <div class="formula">
            <span class="red">R-COO</span>
            <div class="connector"></div>(
            <div class="with-arrow">
                H
                <svg class="arrow">
                    <path fill="transparent" d="M 24 31 L 38 9 M 38 9 L 129 9 L 129 22 M 129 22 L 132 19 M 129 22 L 126 19">
                    </path>
                </svg>
                <span class="up-arrow">H<sup>+</sup></span>
            </div>
            +H<sub>2</sub>
            <span class="dots">
                <span class="dot"></span><span class="dot"></span>
                O<span class="dot"></span><span class="dot"></span>
                <span class="dot"></span><span class="dot"></span>
            </span>
            )⇄R-CO
            <span class="dots negative">
                <span class="dot"></span><span class="dot"></span>
                O<span class="dot"></span><span class="dot"></span>
                <span class="dot"></span><span class="dot"></span>
            </span>
            +H<sub>3</sub>
            <span class="dots positive">
                <span class="dot"></span><span class="dot"></span>
                O<span class="dot"></span><span class="dot"></span>
                <span class="dot"></span><span class="dot"></span>
            </span>
        </div>
    </ul>
</section>
<section>
    <ul>
        <li>
            <p class="list-header">Acțiune asupra indicatorilor acido-bazici</p>
            <div class="potions">
                <div class="potion">
                    <p class="potion__name">Turnesol</p>
                    <img class="potion__image" src="">
                </div>
                <div class="potion">
                    <p class="potion__name">Metiloranj</p>
                    <img class="potion__image" src="">
                </div>
            </div>
        </li>
    </ul>
</section>
<section>
    <ul>
        <li>
            <p class="list-header">Dizlocuirea acizilor mai slabi din sărurile lor</p>
            <div class="formula">
                2R-COOH+Na<sub>2</sub>CO<sub>3</sub>→2R-CO<span class="negative">O</span>N<span class="positive">a</span>
                +CO<sub>2</sub>↑+H<sub>2</sub>O
            </div>
            <div class="formula">
                <span class="blue">CH<sub>3</sub>-COOH</span>+<span class="teal">NaHCO<sub>3</sub></span>→<span class="red">CH<sub>3</sub>-CO<span class="negative">O</span>N<span class="positive">a</span><sub>4</sub></span>
                +CO<sub>2</sub>↑+H<sub>2</sub>O<button mat-icon-button (click)="onOpenVideo('K8xfoUWuCfQ')" matTooltip="Video cu experiment"><mat-icon>play_circle</mat-icon></button>
            </div>
            <p class="text">
                <span class="blue">Acid Acetic</span>
                <span class="teal bicarbonat">Bicarbonat de Sodiu(praf de copt)</span>
                <span class="red acetat-4">Acetat de Sodiu</span>
            </p>
            <p class="text">Bicarbonat de amoniu(amoniac alimentar)</p>
            <div class="formula">
                2R-COOH-CaC<sub>3</sub>O→(R-CO<span class="negative">O</span>)<sub>2</sub>C<span class="positive-2">a</span>
                +CO<sub>2</sub>↑+H<sub>2</sub>O
            </div>
            <b>Exemplu:</b>
            <div class="formula">
                <span class="green">2CH<sub>3</sub>-COOH</span>+<span class="yellow">CaCO<sub>3</sub></span>→<span class="purple">(CH<sub>3</sub>-CO<span class="negative">O</span>)<sub>2</sub>C<span class="positive-2">a</span></span>
                +CO<sub>2</sub>↑+H<sub>2</sub>O<button mat-icon-button (click)="onOpenVideo('spsaNMBtaF0')" matTooltip="Video cu experiment"><mat-icon>play_circle</mat-icon></button>
            </div>
            <p class="text">
                <span class="green">Acid Acetic</span>
                <span class="yellow carbonat">Carbonat de Calciu</span>
                <span class="purple acetat-3">Acetat de Calciu</span>
            </p>
        </li>
    </ul>
</section>
<section>
    <ul>
        <li>
            <p class="list-header red">Reacția cu metalele alcaline</p>
            <div class="formula">
                <span class="blue">R-COOH</span>+<span class="red">Na</span>→<span class="green">R-CO<span class="negative">O</span>N<span class="positive">a</span></span>+
                <div class="fraction">
                    <span>1</span>
                    <span class="fraction__divider"></span>
                    <span>2</span>
                </div>
                H<sub>2</sub>↑
            </div>
            <p class="text green sare-1">Sare organică de natriu</p>
            <b>Exemplu:</b>
            <div class="formula">
                <span class="blue">CH<sub>3</sub>-COOH</span>+<span class="red">Na</span>→<span class="green">CH<sub>3</sub>-CO<span class="negative">O</span>N<span class="positive">a</span></span>+
                <div class="fraction">
                    <span>1</span>
                    <span class="fraction__divider"></span>
                    <span>2</span>
                </div>
                H<sub>2</sub>↑<button mat-icon-button (click)="onOpenVideo('aGaWwnMyKVE')" matTooltip="Video cu experiment"><mat-icon>play_circle</mat-icon></button>
            </div>
            <p class="text"><span class="blue">Acid Acetic</span><span class="green acetat-2">Acetat de Sodiu</span></p>
        </li>
        <li>
            <p class="list-header blue">Reacția cu oxizi metalici</p>
            <div class="formula">
                2<span class="blue">R-COOH</span>+<span class="blue">K<sub>2</sub>O</span>→<span class="green">2R-CO<span class="negative">O</span><span class="positive">K</span></span>+H<sub>2</sub>O
            </div>
            <p class="text green sare-2">Sare organică de potasiu</p>
        </li>
        <li>
            <p class="list-header yellow">Reacția cu bazele(reacția de neutralizare)</p>
            <div class="formula">
                <span class="blue">R-COOH</span>+<span class="yellow">NaOH</span>→
                <span class="green">R-CO<span class="negative">O</span>N<span class="positive">a</span></span>
                +H<sub>2</sub>O
            </div>
            <p class="text green sare-3">Sare organică de natriu</p>
        </li>
    </ul>
</section>
<section>
    <h3 class="title-3" id="spec"><b>B. </b>Proprietăți specifice acizilor organici</h3>
    <ul>
        <li>
            <p class="list-header purple">Reacții de esterificare:</p>
            <div class="formula">
                <span class="blue">R-COOH</span>+
                <span class="teal">R`-OH</span>→
                <span class="purple">R-COOR`</span>
                +H<sub>2</sub>O
            </div>
            <p class="text">
                <span class="blue">Acid Organic </span>
                <span class="teal alcool-2">Alcool </span>
                <span class="purple ester">Ester(sare organică)</span>
            </p>
            <b>Exemplu:</b>
            <div class="formula">
                <span class="blue">CH<sub>3</sub>-COOH</span>+<span class="teal">C<sub>2</sub>H<sub>5</sub>-OH</span>→<span class="purple">CH<sub>3</sub>-COOC<sub>2</sub>H<sub>5</sub></span>+H<sub>2</sub>O<button mat-icon-button (click)="onOpenVideo('id7Fve9cMIw')" matTooltip="Video cu experiment"><mat-icon>play_circle</mat-icon></button>
            </div>
            <p class="text"><span class="blue">Acid Acetic</span><span class="teal alcool-1">Alcool Etilic</span><span class="purple acetat-1">Acetat de Etil</span></p>
        </li>
        <li class="l1">
            <p class="list-header cyan ">Reacția de deshidratare: obținerea anhidrelor acide</p>
            <div class="formula">
                <span class="blue">R-COOH</span>+
                <span class="blue">R`-COOH</span>
                <div class="equal">
                    <span>-H<sub>2</sub>O</span>
                    <span class="equal__arrow"></span>
                </div>
                <span class="s-reaction red">
                    <div>R</div>
                    <div class="divider-1"></div>
                    <div>C</div>
                    <div class="divider-2"></div>
                    <div>O</div>
                </span>
                <span class="red">-O-</span>
                <span class="s-reaction red">
                    <div>R`</div>
                    <div class="divider-1"></div>
                    <div>C</div>
                    <div class="divider-2"></div>
                    <div>O</div>
                </span>
            </div>
        </li>
    </ul>
</section>
<app-titles [titles]="titles"></app-titles>