<section>
    <h1 class="title-1" id="t">Proprietăți Chimice</h1>
    <p class="text"><span class="red">Tăria acizilor</span> carboxilici = <span class="red">uşurinţa de a ceda protoni</span> în soluţie apoasă.</p>
    <b class="list-header">Tăria acizilor carboxilici variază astfel:</b>
    <ol>
        <li class="list-item">Odată cu <span class="red">creşterea numărului de atomi</span> de carbon <span class="blue">scade aciditatea</span>;</li>
        <li class="list-item">Odată cu <span class="red">creşterea numărului de grupe carboxil <b>creşte aciditatea</b></span>;</li>
        <li class="list-item">Odată cu <span class="red">creşterea gradului de ramificaţie</span> a catenei acidului <span class="blue">scade aciditatea</span>;</li>
    </ol>
</section>
<section>
    <h3 class="title-3" id="shared"><b>A. </b>Proprietăți comune ale acizilor anorganici</h3>
    <ul>
        <li><p class="list-header">Aciditate</p></li>
        <div class="formula">
            <span class="red">R-COO</span>
            <div class="connector"></div>(
            <div class="with-arrow">
                H
                <svg class="arrow">
                    <path fill="transparent" d="M 24 31 L 38 9 M 38 9 L 129 9 L 129 22 M 129 22 L 132 19 M 129 22 L 126 19">
                    </path>
                </svg>
                <span class="up-arrow">H<sup>+</sup></span>
            </div>
            +H<sub>2</sub>
            <span class="dots">
                <span class="dot"></span><span class="dot"></span>
                O<span class="dot"></span><span class="dot"></span>
                <span class="dot"></span><span class="dot"></span>
            </span>
            )⇄R-CO
            <span class="dots negative">
                <span class="dot"></span><span class="dot"></span>
                O<span class="dot"></span><span class="dot"></span>
                <span class="dot"></span><span class="dot"></span>
            </span>
            +H<sub>3</sub>
            <span class="dots positive">
                <span class="dot"></span><span class="dot"></span>
                O<span class="dot"></span><span class="dot"></span>
                <span class="dot"></span><span class="dot"></span>
            </span>
        </div>
    </ul>
</section>
<section>
    <ul>
        <li>
            <p class="list-header">Acțiune asupra indicatorilor acido-bazici</p>
            <div class="potions">
                <div class="potion">
                    <p class="potion__name">Turnesol</p>
                    <img class="potion__image" src="">
                </div>
                <div class="potion">
                    <p class="potion__name">Metiloranj</p>
                    <img class="potion__image" src="">
                </div>
            </div>
        </li>
    </ul>
</section>
<section>
    <ul>
        <li>
            <p class="list-header">Dizlocuirea acizilor mai slabi din sărurile lor</p>
            <div [innerHTML]="R[0].reacts[R[0].ex]"></div>
            <button color="primary" mat-stroked-button (click)="R[0].ex = R[0].ex? 0 : 1">Arată {{ R[0].ex ? 'formula' : 'exemplu' }}</button>
            <button *ngIf="R[0].ex" mat-icon-button (click)="onOpenVideo(R[0].video)" matTooltip="Video cu experiment"><mat-icon>play_circle</mat-icon></button>
            <div [innerHTML]="R[1].reacts[R[1].ex]"></div>
            <button color="primary" mat-stroked-button (click)="R[1].ex = R[1].ex? 0 : 1">Arată {{ R[1].ex ? 'formula' : 'exemplu' }}</button>
            <button *ngIf="R[1].ex" mat-icon-button (click)="onOpenVideo(R[1].video)" matTooltip="Video cu experiment"><mat-icon>play_circle</mat-icon></button>
        </li>
    </ul>
</section>
<section>
    <ul>
        <li>
            <p class="list-header red">Reacția cu metalele alcaline</p>
            <div [innerHTML]="R[2].reacts[R[2].ex]"></div>
            <button color="primary" mat-stroked-button (click)="R[2].ex = R[2].ex? 0 : 1">Arată {{ R[2].ex ? 'formula' : 'exemplu' }}</button>
            <button *ngIf="R[2].ex" mat-icon-button (click)="onOpenVideo(R[2].video)" matTooltip="Video cu experiment"><mat-icon>play_circle</mat-icon></button>
        </li>
        <li class="l1">
            <p class="list-header blue">Reacția cu oxizi metalici</p>
            <div class="formula">
                2<span class="blue">R-COOH</span>+<span class="blue">K<sub>2</sub>O</span>→<span class="green">2R-CO<span class="negative-2">O</span><span class="positive">K</span></span>+H<sub>2</sub>O
            </div>
            <p class="text green sare-2">Sare organică de potasiu</p>
        </li>
        <li>
            <p class="list-header yellow">Reacția cu bazele(reacția de neutralizare)</p>
            <div class="formula">
                <span class="blue">R-COOH</span>+<span class="yellow">NaOH</span>→
                <span class="green">R-CO<span class="negative-2">O</span>N<span class="positive">a</span></span>
                +H<sub>2</sub>O
            </div>
            <p class="text green sare-3">Sare organică de natriu</p>
        </li>
    </ul>
</section>
<section>
    <h3 class="title-3" id="spec"><b>B. </b>Proprietăți specifice acizilor organici</h3>
    <ul>
        <li>
            <p class="list-header purple">Reacții de esterificare:</p>
            <div [innerHTML]="R[4].reacts[R[4].ex]"></div>
            <button color="primary" mat-stroked-button (click)="R[4].ex = R[4].ex? 0 : 1">Arată {{ R[4].ex ? 'formula' : 'exemplu' }}</button>
            <button *ngIf="R[4].ex" mat-icon-button (click)="onOpenVideo(R[4].video)" matTooltip="Video cu experiment"><mat-icon>play_circle</mat-icon></button>
        </li>
        <li class="l1">
            <p class="list-header cyan ">Reacția de deshidratare: obținerea anhidrelor acide</p>
            <div [innerHTML]="R[5].reacts[R[5].ex]"></div>
            <button color="primary" mat-stroked-button (click)="R[5].ex = R[5].ex? 0 : 1">Arată {{ R[5].ex ? 'formula' : 'exemplu' }}</button>
        </li>
    </ul>
</section>
<app-titles [titles]="titles"></app-titles>