<section>
    <h1 class="title-1">Proprietăți Fizice</h1>
    <p class="text">Acizii organici pot fi substanţe lichide sau solide, în funcţie de masa lor moleculară.</p>
    <p class="text">Cei inferiori sunt solubili în apă.</p>
    <p class="text">Acizii superiori sunt solubili numai în solvenţi organici.</p>
    <p class="text">Punctele lor de fierbere şi de topire sunt anormal de ridicate, pentru că între moleculele de acid se formează legături de hidrogen, care sunt legături foarte puternice de atracţie electrostatică. Pentru desfacerea lor, (la dizolvare sau topire), se consumă energie, ceea ce ridică temperaturile de fierbere şi topire.</p>
    <div class="formule">
        <div class="formula" *ngFor="let i of [1, 2, 3, 4, 5]">
            <span class="before-tree">R-</span>
            <span class="tree-2">
                <div>C</div>
                <div class="tree-2__divider"></div>
                <div class="tree__branch"><span class="exponent">O</span>-<span class="exponent">H</span><span class="red">..........</span></div>
            </span>
            =O
        </div>
    </div>
    <b class="text red">Legături de hidrogen</b>
</section>