<section id="oxi">
    <h1 class="title-1">Metode de obținere</h1>
    <h3 class="title-3" ><b>A.</b> Metode Oxidative</h3>
    <ul>
        <li>
            <p class="list-header"><b class="green">ALCANI:</b> cu <span class="red">oxigen molecular</span> la temperaturi înalte</p>
            <div [innerHTML]="R[0].reacts[R[0].ex]"></div>
            <button color="primary" mat-stroked-button (click)="R[0].ex = R[0].ex? 0 : 1">Arată {{ R[0].ex ? 'formula' : 'exemplu' }}</button>
        </li>
    </ul>
    <ul>
        <li>
            <p class="list-header"><b class="purple">ALCHENE:</b> cu <span class="red">oxigen atomic</span> provenit din KMnO<sub>4</sub> și H<sub>2</sub>SO<sub>4</sub></p>
            <div [innerHTML]="R[1].reacts[R[1].ex]"></div>
            <button color="primary" mat-stroked-button (click)="R[1].ex = R[1].ex? 0 : 1">Arată {{ R[1].ex ? 'formula' : 'exemplu' }}</button>
            <div [innerHTML]="R[2].reacts[R[2].ex]"></div>
            <button color="primary" mat-stroked-button (click)="R[2].ex = R[2].ex? 0 : 1">Arată {{ R[2].ex ? 'formula' : 'exemplu' }}</button>
        </li>
    </ul>
</section>
<section>
    <ul>
        <li>
            <p class="list-header"><b class="yellow">ARENE:</b> cu <span class="red">oxigen molecular</span> la temperaturi înalte</p>
            <div class="formula">
                <img class="hex hex--yellow" src="/assets/images/hexagon.svg">
                <span class="yellow">-CH<sub>3</sub></span>+
                <div class="fraction">
                    <span>3</span>
                    <span class="fraction__divider"></span>
                    <span>2</span>
                </div>O<sub>2</sub>→
                <img class="hex hex--blue" src="/assets/images/hexagon.svg">
                <span class="blue">-COOH</span>
                +H<sub>2</sub>O
            </div>
        </li>
    </ul>
</section>
<section>
    <ul>
        <li>
            <p class="list-header"><b class="green">ALCOOLI:</b> cu <span class="red">oxigen atomic</span> provenit din KMnO<sub>4</sub> și H<sub>2</sub>SO<sub>4</sub></p>
            <div [innerHTML]="R[3].reacts[R[3].ex]"></div>
            <button color="primary" mat-stroked-button (click)="R[3].ex = R[3].ex? 0 : 1">Arată {{ R[3].ex ? 'formula' : 'exemple' }}</button>
            <div [innerHTML]="R[4].reacts[R[4].ex]"></div>
            <button style="margin-top: 1rem" color="primary" mat-stroked-button (click)="R[4].ex = R[4].ex? 0 : 1">Arată {{ R[4].ex ? 'formula' : 'exemplu' }}</button>
        </li>
    </ul>
</section>
<section style="margin-top: 4rem;" id="hydro">
    <h3 class="title-3" ><b>B. </b> Metode Hidrolitice</h3>
    <ul>
        <li>
            <p class="list-header">Hidroliza derivaţilor trihalogenaţi geminal</p>
            <div [innerHTML]="R[5].reacts[R[5].ex]"></div>
            <button color="primary" mat-stroked-button (click)="R[5].ex = R[5].ex? 0 : 1">Arată {{ R[5].ex ? 'formula' : 'exemplu' }}</button>
        </li>
        <li style="margin-top: 1rem;">
            <p class="list-header">Hidroliza <span class="lime">esterilor</span>, în mediu acid(H<sub>2</sub>SO<sub>4</sub>) sau bazic(NaOH)</p>
            <div [innerHTML]="R[6].reacts[R[6].ex]"></div>
            <button color="primary" mat-stroked-button (click)="R[6].ex = R[6].ex? 0 : 1">Arată {{ R[6].ex ? 'formula' : 'exemplu' }}</button>
        </li>
    </ul>
</section>
<app-titles [titles]="titles"></app-titles>